@use './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: var(--box-sizing-base);
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    font-family: var(--font-family-mont);
    font-weight: var(--font-weight-md);
}
*,
*:before,
*:after {
    box-sizing: var(--box-sizing-base);
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: color var(--transition-fast);
}

html {
    font-size: var(--font-size-base);
    scroll-behavior: smooth;
}

body {
    background: var(--background-main);
    color: var(--font-color-primary);
}

#root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

// Custom scrollbar
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-gray-lightest);
    border-radius: var(--border-radius-sm);
}

::-webkit-scrollbar-thumb {
    background: var(--color-gray-light);
    border-radius: var(--border-radius-sm);
    
    &:hover {
        background: var(--color-gray);
    }
}
