:root {
    --font-family-mont: 'Rubik', sans-serif;

    --font-weight-xs: 300;
    --font-weight-sm: 400;
    --font-weight-md: 600;
    --font-weight-lg: 700;
    --font-weight-xl: 800;
    --font-weight-xxl: 900;

    --font-size-base: 14px;
    --font-size-sm: 0.8rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2rem;

    --border-width-sm: 2px;
    --border-width-md: 3px;
    --border-width-lg: 4px;

    --border-radius-sm: 3px;
    --border-radius-md: 6px;
    --border-radius-lg: 10px;
    --border-radius-circle: 50%;

    --spacing-none: 0;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;

    --shadow-blur: 15px;
    --shadow-spread: 0px;

    --box-sizing-base: border-box;
}

:root {
    --font-color-light-gray: rgba(196, 196, 196, 1);
    --font-color-gray: rgba(128, 128, 128, 1);
    --font-color-dark-gray: rgba(55, 55, 55, 1);
    --font-color-purple: rgba(64, 95, 123, 1);
    --font-color-error: rgba(255, 0, 0, 1);
    --font-color-black: rgba(0, 0, 0, 1);
    --font-color-white: rgba(255, 255, 255, 1);

    --border-color-light-gray: rgba(196, 196, 196, 1);
    --border-color-gray: rgba(128, 128, 128, 1);
    --border-color-error: rgba(255, 0, 0, 1);
    --border-color-blue: rgba(94, 123, 199, 1);

    --background-color-white: rgba(255, 255, 255, 1);
    --background-color-blue: rgba(94, 123, 199, 1);
    --background-color-dark-blue: rgb(5, 41, 131);
    --background-color-red: rgba(199, 94, 94, 1);
    --background-color-gray: rgba(128, 128, 128, 1);
    --background-color-light-gray: rgba(196, 196, 196, 1);

    --background-color-light-gray-translucent: rgba(196, 196, 196, 0.5);
    --background-color-light-white-translucent: rgba(255, 255, 255, 0.8);
}
