.nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-sm);

    &__wallet {
        color: var(--font-color-white);
    }
}
