.header {
    font-size: var(--font-size-xl);
}
.fields {
    margin-top: var(--spacing-md);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-sm);
}

.questions {
    width: 100%;
    height: 300px;
    overflow: auto;
    border: 2px solid var(--border-color-gray);
    padding: var(--spacing-md);
    border-radius: var(--border-radius-md);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);

    &__container {
        width: 100%;
    }
}

.question {
    border: 2px solid var(--border-color-gray);
    padding: var(--spacing-sm);
    border-radius: var(--border-radius-md);
}
