.main {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__container {
        height: 100%;
        width: 50%;
        background-color: var(--background-color-light-gray);
        padding: var(--spacing-lg);
        border-radius: var(--border-radius-md);
        color: var(--font-color-white);
    }
}
