.poll {
    width: 100%;
    height: 100px;
    border: 2px solid var(--border-color-blue);
    border-radius: var(--border-radius-md);
    padding: var(--spacing-sm);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &--main {
        font-size: var(--font-size-lg);
    }
}
