.header {
    width: 100%;
    height: 10%;
    background-color: var(--background-color-gray);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-sm) var(--spacing-md);

    &__name {
        color: var(--font-color-white);
    }

    &__btns {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-sm);
    }
}
